<div class="container">
    <form>
        <div class="row">
            <label for="user-id">User Id</label>
            <input type="text" id="user-id" placeholder="Email or Phone or User name">
            <div class="message"></div>
        </div>
        <div class="row">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Enter Password">
            <div class="message"></div>
        </div>
        <div class="row">
            <button type="button">Login</button>
        </div>
    </form>
</div>
