* {
    padding: 0;
    margin:0;
}

:root {
    --nav-height: 50px;
}

body {
    font-family: "Roboto", sans-serif;
}

.container {
    height: calc(100vh - var(--nav-height));
    position: relative;
}
